.hazina
{
    background-color: #f5d20a;
    
}

.text-responsive {
    font-size: 3.5vw; /* 5% of the viewport width */
}

@media (min-width: 768px) {
    .text-responsive {
        font-size: 3vw; /* Adjust for larger screens */
        text-align: center;
    }
}

@media (min-width: 1200px) {
    .text-responsive {
        font-size: 2vw; /* Further adjustment for very large screens */
    }
}


  
h3 {
    color: #eaecec;
}









